body, head, header, main, nav, article, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    background: transparent;
    font-family: sans-serif;
}

body {
    /* background-image: linear-gradient(white, #B3CDD1); */
}

.country {
    /* fill: lightgreen; */
    stroke: black;
    stroke-opacity: 0.4;
}

.country:hover {
    fill: #214E34;
}
.sphere {
    fill: #5086B9;
}

.world-map {
    background-image: linear-gradient(white, #B3CDD1);
    background-image: linear-gradient(white, #8AAFD0);
    display: flex;
    justify-content: center;
}

path.sphere {
    margin: auto;
}