body, head, header, main, nav, article, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    background: transparent;
    font-family: sans-serif;
}

body {
    /* background-image: linear-gradient(white, #B3CDD1); */
}

.country {
    /* fill: lightgreen; */
    stroke: black;
    stroke-opacity: 0.4;
}

.country:hover {
    fill: #183A26;
}
.sphere {
    fill: #5086B9;
}

.world-map {
    background-image: linear-gradient(white, #B3CDD1);
    background-image: linear-gradient(white, #8AAFD0);
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

path.sphere {
    margin: auto;
}

.flex, .flex2, .map-labels {
    display: flex;
    justify-content: space-between;
}

.map-labels {
    align-items: center;
}

rect.bar {
    /* fill: lightblue; */
    fill: #9AB9D5;
    /* fill: transparent; */
    opacity: 0;
}

rect.bar2 {
    /* fill: #9AB9D5; */
    opacity: 0.9;
}

/*#ffff99 ffe600 ff9900 ff1900 9a0500*/

.map-label {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    bottom: 20px;
    left: 7%;
    font-size: 12px;
}

.label-color-1, .label-color-2, .label-color-3, .label-color-4, .label-color-5 {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 5px;
}

.label-color-6, .label-color-7, .label-color-8, .label-color-9 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 5px;
}

.label-color-1 {
    background-color: #ffff99;
}
.label-color-2 {
    background-color: #ffe600;
}
.label-color-3 {
    background-color: #ff9900;
}
.label-color-4 {
    background-color: #ff1900;
}
.label-color-5 {
    background-color: #9a0500;
}

.label-color-6 {
    background-color: #ebf1f7;
    background-color: #F6F4F5;
}
.label-color-7 {
    background-color: #cfddec;
}
.label-color-8 {
    background-color: #a5c0db;
}
.label-color-9 {
    background-color: blue;
    /* background-color: #5185b9; */
}

.label-title {
    font-size: 14px;
    font-weight: 550;
}

.left {
    /* background-color: rosybrown; */
    width: 50%;
    height: 500px;
    margin-left: 7%;
    font-size: 12px;
}

.left > h1, .left2 > h1 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.description {
    margin: 10px 0;
}

.questions {
    width: 33%;
    height: 320px;
    margin: 0px 10px;
    background-color: #99B9D6;
    background-image: linear-gradient(white,#99B9D6);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar-charts {
    margin-right: 7%;
}

h3, h4 {
    font-size: 13px;
    line-height: 1.4;
}

.bar-charts {
    position: relative;
    /* background-color: skyblue; */
}

.bar-label {
    position: absolute;
    top: 0px;
    left: 38px;
    font-size: 11px;
}

.pie-chart{
    display: flex;
    position: relative;
}

.pie-chart .map-label {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    bottom: 70px;
    left: 7%;
    font-size: 12px;
}

.pie-chart {
    margin: 40px auto 20px auto;
}

.pie {
    margin-left: 7%;
}

.left2 {
    /* background-color: rosybrown; */
    width: 50%;
    height: 500px;
    margin-right: 7%;
    font-size: 12px;
}

.waterwater-container {
    position: relative;
    margin: 0 auto;
    width: 1160px;
}

.map-label2 {
    position: absolute;
    top: 20px;
    width: 80px;
    left: -30px;
    font-size: 12px;
}

.map-label3 {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid lightgrey;
    top: 20px;
    right: 7%;
    font-size: 12px;
}

footer {
    color: lightgrey;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
a:visited, a {
    color: lightblue;
}

div.tooltip-donut, div.tooltip-waterwater {
    position: absolute;
    text-align: center;
    padding: 5px 8px;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid lightgrey;
    border-radius: 7px;
    pointer-events: none;
    font-size: 12px;
}